@page
@model OneAir.Views.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AirQuality[0].DeviceID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirQuality[0].Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirQuality[0].Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirQuality[0].Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirQuality[0].PM10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirQuality[0].PM25)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AirQuality) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PM10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PM25)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AirQualityID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AirQualityID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AirQualityID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
